html, body {
	font-size: 0px;
}

#header {
	width: 800px;
	height: 50px;
	margin: 0px auto;
}

#wrapper {
	width: 800px;
	height: 800px;
	margin: 0px auto;
	padding: 0px;
	border: 4px dashed black;
}

#wrapper > div {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.highlighted {
	background-color: #FF0000;
}

button {
	width: 80px;
	height: 30px;
	margin: 10px auto;
	display: block;
}